* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: rgba(68, 62, 62, 0.1);
  backdrop-filter: blur(20px);
  min-height: 9vh;
  position: absolute;
  top: 6vh;
  right: 0;
  padding-right: 35px;
  min-width: 60vw;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;
}
.topnav a {
  padding: 35px 16px;
  text-decoration: none;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
}
.topnav a:hover:not(.active) {
  border-bottom: 6px solid;
  opacity: 0.5;
}

.active {
  border-bottom: 6px solid;
}

.container {
  min-height: 100vh;

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-image: url('../crew/background-crew-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  gap: 50px;
}

.box {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 150px;
  min-width: 500px;
}
.title {
  display: inline;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #ffffff;
}

.num {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 15px;
}
.profession {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.name {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 64px;
  text-transform: uppercase;

  color: #ffffff;
}

.description {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  /* or 209% */

  color: #d0d6f9;
  max-width: 420px;
}
.text_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image_div {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.image_div > img {
  height: 70vh;
  position: relative;
  max-width: 600px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 10px;
}
.selectedSlide {
  opacity: 1;
}
