* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-image: url('../home/background-home-desktop.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  font-family: 'Barlow Condensed';
  color: #ffffff;
  max-width: fit-content;
  position: relative;
  top: 10vh;
  right: 6vw;
}

.box > h5 {
  font-style: normal;
  font-weight: 400px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4px;
  margin-bottom: 2vh;
  min-width: max-content;
}

.box > h2 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400px;
  font-size: 150px;
  line-height: 172px;
  letter-spacing: 8px;
  /* identical to box height */

  color: #ffffff;

  margin-bottom: 2vh;
}

.box > .text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  max-width: fit-content;
  color: #d0d6f9;
  margin-top: 4vh;
}

.explore {
  position: relative;
  top: 10vh;
  color: #ffffff;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  color: #0b0d17;
  background-color: #ffffff;
}
.circle > h3 {
  position: relative;
  top: 42%;

  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #0b0d17;
}

.topnav {
  background-color: rgba(68, 62, 62, 0.1);
  backdrop-filter: blur(20px);
  min-height: 9vh;
  position: absolute;
  top: 6vh;
  right: 0;
  padding-right: 35px;
  min-width: 60vw;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.topnav a {
  padding: 35px 16px;
  text-decoration: none;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
}
.topnav a:hover:not(.active) {
  border-bottom: 6px solid;
  opacity: 0.5;
}

.active {
  border-bottom: 6px solid;
}
